.jobs-page {
  max-width: 80%;
  display: block;
  margin: 1rem auto;
}

.jobs-page .job-card {
  border-radius: 0.5rem;
  border: 1px solid #acacac;
  background-color: white;
  box-shadow: 5px 5px 5px #999;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.jobs-page .job-card .job-description {
  display: flex;
  align-items: flex-start;
}

.jobs-page .job-card .job-description img {
  width: 4rem;
}

.jobs-page .job-card .job-description .job-heading {
  display: flex;
  flex-direction: column;
}

.jobs-page .job-card .pill-wrapper {
  display: flex;
  gap: 0.5rem;
}

.jobs-page .job-card .tag-wrapper .tag {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: lightgray;
  color: #333;
}

.bg-dark {
  background-color: #333 !important;
}

.text-white {
  color: white;
}
